* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
#container {
  background-color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.controls {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100px;
  background-color: transparent;
}

#canvas {
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

#audio {
  width: 50%;
  display: block;
}
#input {
  display: none;
}
label {
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
}
#label {
  background-color: #333399;
}

#hous {
  background: linear-gradient(to right, #333399, #ff00cc);
}
#fato {
  background: linear-gradient(to right, #ff00cc, #ef32d9);
}
#nub {
  background: linear-gradient(to right, #ef32d9, #89fffd);
}
